*.log*
.cache
.DS_Store
.idea
.vscode

# npm
node_modules
package-lock.json

# test
**/test/coverage

# dist file
es
lib
dist
**/site-dist
changelog.generated.md

# temp file
packages/vant/README.md

token.txt

dist/*

node_modules/*

ux-client/node_modules
ux-server/node_modules


ux-client/dist/*

ux-client/node_modules/*
ux-server/node_modules/*

ux-client/src/components/*
ux-client/src/pages/*
ux-client/src/data/*